@import '../../../utils/styles/index';

.character {
    .infos {
        padding-left: 10px;
        p {
            font-size: $big-font-size-support;
            font-weight: bold;
            color: $gray;
            margin-bottom: 0;
        }
        p:first-child {
            font-size: $big-font-size;
            color: $text-default;
            line-height: 25px;
        }
    }
}

@media (max-height: 720px) {
    .character {
        .infos {
            p, p:first-child {
                font-size: $reduced-big-font-size;
            }
        }
    }
}
