.flex{
  display: flex;

  &-center{
    align-items: center;
    justify-content: center;
  }
  &-column{
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }
  &-start-column {
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
  &-around{
    align-items: center;
    justify-content: space-around;
  }
  &-between{
    align-items: center;
    justify-content: space-between;
  }
  &-end{
    justify-content: flex-end;
  }
  &-start{
    justify-content: flex-start;
  }
  &-wrap{
    flex-wrap: wrap;
  }
}
