$gray: #818181;
$light-gray: #ECECEC;

$red-text: #AF1C1C;
$red-light: #DAAEAE;
$red: #ED0000;

$blue: #08075B;
$blue-light: #A8A7C1;

$text-default: #30334C;
$text-light: #A1A2AC;


$shadow: 0px 8px 9px rgba(0, 0, 0, 0.16);


$radius: 5px;
$tab-radius: 12px;

$big-font-size: 34px;
$big-font-size-support: 24px;
$main-font-size: 18px;
$small-font-size: 12px;
