@import '../../utils/styles/index';

.character-head {
    margin: 6px 2px;
    box-sizing: border-box;
    border-radius: $radius;
    padding: 3px;
    cursor: pointer;
    &.focused {
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0.2em 1em;
    }
}

.loader {
    width: 100%;
    height: 85%;
}

