@import '../../utils/styles/index';

.character-head {
    margin: 6px 2px;
    box-sizing: border-box;
    border-radius: $radius;
    padding: 3px;
    cursor: pointer;
    &.focused {
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0.2em 1em;
    }
}

.loader {
    width: 100%;
    height: 85%;
}

.error-space {
    height: 36px;
}

.error {
    width: 90%;
    text-align: center;
    padding: 5px;
    margin: 0 auto 10px auto;
    border: 1px solid rgb(168, 135, 45);
    color: rgb(168, 135, 45);
    background-color: #FFF2CD;
    border-radius: $radius;
    position: relative;
}
