.header {
    color: white;
    font-size: 18px;
    text-align: center;
    box-sizing: border-box;
    flex: 0 0 15%;
    padding: 20px 0;
    height: 15%;
    font-weight: bold;
    max-width: 400px;
    min-width: 290px;
    margin: auto;
}
