@import "../utils/styles/index";

.main {
    background-color: $light-gray;
    border-radius: $radius;
    flex: 0 0 75%;
    box-sizing: border-box;
    width: 85vw;
    margin: auto;
    height: 75%;
    padding: 10px 1px;
}

@media (min-width: 400px) {
    .main {
        padding: 10px 7px;
    }
}
